.logo {
    height: 250px;
    background-image: url(imgcss/fondo.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    border: 1px solid #000000;
    max-width: 100%;
    max-height: 80%;
    border-radius: 16px;
}

.barra {
    border: 5px solid #000000;
    background-color: rgb(0, 0, 0);
}

.btn {
    text-decoration: underline;
    margin: 0.4%;
    border: 1px solid #ffffff !;
    border-radius: 16px;
    text-align: center;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 23%;
    max-width: 23%;
}

.cuerpo {
    max-height: 100%;
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
    
}

.panels{
    max-height: 250px;
    padding: 10px;
    display: flex;
}

.txt {    
    text-decoration-color: #ffffff;
    background-color: #00000085;
    max-height: 100%;
    display: inline-block;
    text-align: left;
    justify-content:right;
    align-items: right;
}

.imgtxt{
    background-color:rgb(0, 0, 0);
    display: flex;
    max-height: 100%;
    width: min-content;
    align-items: center;
}
.imgtxt img{
    background-color:rgb(0, 0, 0);
    border: 1px solid #000000;
    max-width: 400px;
    max-height: 100%;
    
}

body {
    margin: 0;
    background-color: chocolate;
}